fastapi==0.115.12
uvicorn==0.37.0
gunicorn==23.0.0
python-multipart==0.0.20
python-dotenv==1.1.1
tensorflow-cpu==2.18.0
numpy==2.0.2
Pillow==11.1.0
langchain-groq==0.3.2
langchain-core==0.3.56
pydantic==2.11.1
